body{
	background-color: #089CD5;
	color: #FFFFFF;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	text-transform: uppercase;
	padding: 0px;
}
.container{
 	padding: 0px;
 	display: flex;

}
.row{

}
.pink{
	background-color: #089CD5;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
  	text-decoration: none;

}
ol{
	display: inline-block;
}
h1{
	text-shadow: 2px 3px 5px black;
}
ul.lista li{ 
	text-transform: capitalize;
	font-size: 20px;
	list-style-type: none;
	
 }


ul.lista li:hover{
	color: black;
	background-color: #62D4FF;
}

strong{
	color: black;
}

.listItem {
  cursor: pointer;
  background: #045D7F;
  color: #fff;
  text-align: center;
  padding: 8px 5px;
  font-weight: bold;
  margin-bottom: 2px;
  border-radius: 5px;
}

.delete {
   display:none;
}

.listItem:nth-child(even) {
  background: #066D94;
}
.done {
  background-color: #ccc;
  text-decoration: line-through;
}

.done:nth-child(even) {
  background: #ccc;
  text-decoration: line-through;
}


.deleteBtn{
	position: absolute;
  	right: 20px;
}

footer p{
	background-color: #606060;
	color: white;
	margin: 0px;

}

p.vers{
	background-color: rgba(4, 57, 77, 0.5);
	text-transform: none;
	font-family: sans-serif;
	white-space: pre-line;
}