body{
	margin: 0px;

	
}

/*Nav*/
.main-nav{
	display: flex;
	background-color: rgba(40, 116, 166, 0.5); 
	-webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    margin: 0px;
    align-items: center;	
}
@media only screen and (max-width: 600px){
    .main-nav {
        font-size: 0.7em;
        padding: 0;
    }

} 
.mainlogo{
	padding: 10px;
}
.main-nav > li {
	list-style-type: none;
	padding: 10px;
}
.main-nav > li > a{
	color: white;
	text-decoration: none;
	font-family: arial;
	text-transform: uppercase;
}
.main-nav > li > a:hover{
	color: yellow;
	text-shadow:rgba(0,0,0,0.8) 2px 2px 5px;
}
.push{
	margin-left: auto;
}
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}
.cover{
	 

}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("background.jpg");
	background-position: center;
	background-size: cover;
}
.row{

}
.pink{
	background-color: #089CD5;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
  	text-decoration: none;

}
ol{
	display: inline-block;
}
h1{
	color: white;
	text-shadow: 2px 3px 5px black;
}
ul.lista li{ 
	text-transform: capitalize;
	font-size: 20px;
	list-style-type: none;
	
 }


ul.lista li:hover{
	color: black;
	background-color: #62D4FF;

}

strong{
	color: black;
}

.listItem {
  cursor: pointer;
  background: #045D7F;
  color: #fff;
  text-align: center;
  padding: 8px 5px;
  font-weight: bold;
  margin-bottom: 2px;
  border-radius: 5px;
}

.delete {
   display:none;
}

.listItem:nth-child(even) {
  background: #066D94;
}
.done {
  background-color: #ccc;
  text-decoration: line-through;
}

.done:nth-child(even) {
  background: #ccc;
  text-decoration: line-through;
}


.deleteBtn{
	position: absolute;
  	right: 20px;
}

footer{
	background-color: #606060;
	
	margin: 0px;

}

p.vers{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px 10px 15px 20px;
	text-transform: none;
	font-family: sans-serif;
	white-space: pre-line;
}

/*Footer*/
footer{
	display: flex;
	justify-content: space-around;
	background-color: rgba(52, 73, 94, 1);
	color: white;
	padding: 20px;
}
